body {
  font-family: sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.quiz-container {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.options button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  background: #e7e7e7;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.options button:hover {
  background: #ccc;
}

.timer {
  background: #222;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
}

.result {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}
/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
